<div id="custom_sidebar">

	<img src="http://s.gravatar.com/avatar/3d751d1818141eabc5e41f77e7873e13?s=140" alt="self" id="me">

	<h5>Internet Club</h5>

	<h5>Contact</h5>
	<ul id="contact_list">
		<li>
			<a href="http://github.com/moto-net">
				<img src="/assets/images/icons/github.gif" alt="GitHub Link">
				GitHub
			</a>
		</li>
		<li>
			<a href="http://coderwall.com/team/moto-net">
				<img src="http://a0.twimg.com/profile_images/2308888251/1hok404axh6l0h6denrx.png" alt="Coderwall Link">
				Coderwall
			</a>
		</li>
		<li>
			<a href="/atom.xml">
				<img src="/assets/images/icons/feed.png" alt="Feed Link">
				Feed
			</a>
		</li>
	</ul>

</div>
