<div id="custom_sidebar">

  <img src="http://s.gravatar.com/avatar/3d751d1818141eabc5e41f77e7873e13?s=140" alt="self" id="me">

  <h4>Internet Club</h4>
  <hr>

  <h4>Contact</h4>
  <ul id="contact_list">
    <li>
      <a href="http://github.com/moto-net">
        <img src="/assets/images/icons/github.gif" alt="GitHub Link">
        GitHub
      </a>
    </li>
    <li>
      <a href="https://groups.google.com/d/forum/moto-net">
        <img src="/assets/images/icons/google-groups.png" alt="Google Groups Link">
        Google グループ
      </a>
    </li>
    <li>
      <a href="/atom.xml">
        <img src="/assets/images/icons/feed.png" alt="Feed Link">
        Feed
      </a>
    </li>
  </ul>

</div>
