/* Override some defaults */

html,
body {
  background-color: #eee;
}

body {
  padding-bottom: 10px;
}

a {
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
       -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}

table {
  width: 100%;
  margin-bottom: 18px;
}

table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #ddd;
}

table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}

.navbar {
  margin-bottom: 0;
}

.container > footer {
  margin-top: 20px;
}

.container > footer p {
  text-align: center;
  /* center align it with the container */

}

/* The white background content wrapper */

.content {
  padding: 20px;
  margin: 0 -20px;
  background-color: #fff;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Page header tweaks */

.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  background-color: #f5f5f5;
}

.post-sharing {
}

.topbar .btn {
  border: 0;
}

/* tag_box */

.tag_box {
  padding: 5px 0 ;
  margin: 0;
  overflow: hidden;
  list-style: none;
}

.tag_box li {
  line-height: 28px;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  color: #005F6B;
  text-decoration: none;
  background: #eee;
  border-radius: 3px;
}

.tag_box a span {
  font-size: 0.8em;
  vertical-align: super;
}

.tag_box a.active {
  color: #FFF;
  background: #57A957;
  border: 1px solid #4C964D;
}

/* sidebar*/

#custom_sidebar {
  width: 150px;
  margin: 20px 0;
  text-align: left;
}

#custom_sidebar p {
  font-size: 11px;
}

#me {
  padding: 2px;
  background: #FFF;
  border: 1px solid #ccc;
}

/* contact list*/

#contact_list {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
}

#contact_list li a {
  line-height: 2em;
}

#contact_list li a img {
  float: right;
  width: 20px;
  height: 20px;
  padding-left: 7px;
  vertical-align: middle;
  border: 0;
}
